body {
    background-color: #00a2ff;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.main_container {
    display: flex;
    justify-content: center;
}

.formulario {
    background-color: aqua;
    padding: 25px;
    border: 1px solid black;
}

p::before {
    content: attr(type);
    display: block;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #080000;
    margin-top: 5px;
}

input {
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: silver solid 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.boton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 100px;
    height: 25px;
    background-color: #3c6dc9;
    color: white;
    border-radius: 5px;
}
.tabla {
    margin-top: 25px;
    background-color: white;
    border-collapse: collapse;
}

.tabla th, .tabla td {
    border: 1px solid black;
    padding: 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

label{
    display: grid;
    grid-template-columns: 25px 25px;
    grid-template-rows: 25px 25px;
    border: 1px solid black;
}